{# extend the parent tpl #}
{% extends '/Frontend/layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'lannimmoo :: Contact' %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $("#tab").organicTabs({
                "speed": 200
            });
        });
    </script>
{% endblock %}

{% block pageContent %}

    <div id="page_container">
        <div class="breadcrumbs">
            <div class="bread-top">
                <h2>Contacteer ons</h2>
                <span class="left"><a href="{{ path('frontend.home') }}">Home &rArr;</a></span>
                <span><a href="{{ path('frontend.agency.overview') }}">Agentschappen &rArr;</a></span>
                <span>Contact </span>
            </div>
        </div><!--end:.breadcrumbs-->
        <section id="content">
            <h2>{{ agency.name }}</h2>
            <p>{{ agency.description ? agency.description : 'Geen beschrijving beschikbaar' }}</p>
            <h2>Gelieve onderstaande formulier te gebruiken om ons te contacteren.</h2>
            <p>{{ agency.city }}, {{ agency.street }} {{ agency.housenumber }} {{ agency.bus ? agency.bus : ' ' }}<br><br>
                Tel: {{ agency.tel ? agency.tel : 'Geen telefoonnummer' }}<br>
                Fax: {{ agency.fax ? agency.fax : 'Geen faxnummer' }}<br>
                Email: <a href="mailto:info@domainname.com">{{ agency.email }}</a></p>

            <form action="{{ path('frontend.agency.contact', {'idAgency' : agency.idAgency}) }}" id="ajax-contact-form" class="contactForm" method="post" {{ form_enctype(mailform) }} novalidate="novalidate">
                <div id="note"></div>
                <p>
                    {{ form_widget(mailform.name, {'value' : 'Uw naam', 'attr': { 'onblur' : 'if (this.value == \' \'){this.value = \'Uw naam\'; }', 'onfocus' : 'if (this.value == \'Uw naam\') {this.value = \' \';}'} } ) }}
                    {{ form_errors(mailform.name) }}
                    &nbsp;
                    {{ form_widget(mailform.email, {'value' : 'Uw email', 'attr': { 'onblur' : 'if (this.value == \' \'){this.value = \'Uw email\'; }', 'onfocus' : 'if (this.value == \'Uw email\') {this.value = \' \';}'} } ) }}
                    {{ form_errors(mailform.email) }}
                </p>
                <p>
                    {{ form_widget(mailform.message, {'value' : 'Uw bericht', 'attr': { 'rows' :'10', 'cols' :'20' , 'onblur' : 'if (this.value == \' \'){this.value = \'Uw bericht\'; }', 'onfocus' : 'if (this.value == \'Uw bericht\') {this.value = \' \';}'} } ) }}
                    {{ form_errors(mailform.message) }}
                    &nbsp;
                <p>
                    {{ form_widget(mailform._token) }}
                    <input type="submit" name="submit" class="submit" value="Zenden">
                </p>
            </form>
        </section><!--end:#content-->
        <aside id="sidebar">
            <h2>Advertisement</h2>
            <div class="side">
                <a href="{{ path('frontend.advertisements.overview') }}"><img src="{{ app.request.baseurl }}/Frontend/images/ads.jpg" alt="" /></a>
            </div>
        </aside><!--end:#sidebar-->
    </div><!--end:#page_container-->
{% endblock %}