<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="oldie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="oldie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="oldie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

    <title>{{ pageTitle|raw }}</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/bootstrap/css/bootstrap.min.css" media="screen">

    <!-- jquery-ui Stylesheets -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/jui/css/jquery.ui.all.css" media="screen">
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/jui/jquery-ui.custom.css" media="screen">
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/jui/timepicker/jquery-ui-timepicker.css" media="screen">

    <!-- Uniform Stylesheet -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/plugins/uniform/css/uniform.default.css">

    <!-- Rating Plugin -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/plugins/rating/jquery.rating.css" media="screen">

    <!-- Plugin Stylsheets first to ease overrides -->

    <!-- jquery-ui Spinner -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/jui/spinner/jquery.ui.spinner.css" media="screen">
    <!-- iButton -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/plugins/ibutton/jquery.ibutton.css" media="screen">

    <!-- PickList -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/custom-plugins/picklist/picklist.css" media="screen">

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/plugins/select2/select2.css" media="screen">


    <!-- End Plugin Stylesheets -->
<style>
    .requiredAsteriks:after {
        content: "*";
    }
</style>
    <!-- Main Layout Stylesheet -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/css/fonts/icomoon/style.css" media="screen">
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/css/main-style.css" media="screen">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <header id="header" class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand-wrap pull-left">
                        <div class="brand-img">
                            <a class="brand" href="#">
                                <img src="{{ app.request.baseurl }}/assets/images/logo1.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div id="header-right" class="clearfix">
                        <div id="nav-toggle" data-toggle="collapse" data-target="#navigation" class="collapsed">
                            <i class="icon-caret-down"></i>
                        </div>
                        <div id="header-search">
                            <span id="search-toggle" data-toggle="dropdown">
                                <i class="icon-search"></i>
                            </span>
                            <form class="navbar-search">
                                <input type="text" class="search-query" placeholder="Search">
                            </form>
                        </div>

                        <div id="header-functions" class="pull-right">
                            <div id="user-info" class="clearfix">
                                <span class="info">
                                    Welkom
                                    <span class="name"></span>
                                </span>
                                <div class="avatar">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        <img src="{{ app.request.baseurl }}/assets/images/pp.jpg" alt="Avatar">
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="profile.html"><i class="icos-user"></i> Mijn Profiel</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('auth.logout') }}"><i class="icol-key"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="logout-ribbon">
                                <a href="{{ path('auth.logout') }}"><i class="icon-off"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="content-wrap">
            <div id="content">
                <div id="content-outer">
                    <div id="content-inner">
                        <aside id="sidebar">
                            <nav id="navigation" class="collapse">
                                <ul>
                                    <li>
                                        <a href="{{ path('backend.advertisements.overview') }}"
                                            <span title="General">
                                                <i class="icon-list"></i>
                                                <span class="nav-title">Overzicht</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('backend.advertisements.new') }}"
                                            <span title="Nieuw">
                                                <i class="icon-plus"></i>
                                                <span class="nav-title">Nieuw</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""
                                            <span title="Profiel">
                                                <i class="icon-official"></i>
                                                <span class="nav-title">Profiel</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </aside>
                        <div id="sidebar-separator"></div>

                        <section id="main" class="clearfix" role="main">
{% block pageContent %}
{% endblock %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Core Scripts -->
<script src="{{ app.request.baseUrl }}/assets/js/libs/jquery-1.8.2.min.js"></script>
<script src="{{ app.request.baseUrl }}/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ app.request.baseUrl }}/assets/js/libs/jquery.placeholder.min.js"></script>
<script src="{{ app.request.baseUrl }}/assets/js/libs/jquery.mousewheel.min.js"></script>

<!-- Template Script -->
<script src="{{ app.request.baseUrl }}/assets/js/template.js"></script>
<script src="{{ app.request.baseUrl }}/assets/js/setup.js"></script>

<!-- Customizer, remove if not needed -->
<script src="{{ app.request.baseUrl }}/assets/js/customizer.js"></script>

<!-- Uniform Script -->
<script src="{{ app.request.baseUrl }}/plugins/uniform/jquery.uniform.min.js"></script>

<!-- jquery-ui Scripts -->
<script src="{{ app.request.baseUrl }}/assets/jui/js/jquery-ui-1.8.24.min.js"></script>
<script src="{{ app.request.baseUrl }}/assets/jui/jquery-ui.custom.min.js"></script>
<script src="{{ app.request.baseUrl }}/assets/jui/timepicker/jquery-ui-timepicker.min.js"></script>
<script src="{{ app.request.baseUrl }}/assets/jui/jquery.ui.touch-punch.min.js"></script>

<!-- Plugin Scripts -->

<!-- DataTables -->
<script src="{{ app.request.baseUrl }}/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ app.request.baseUrl }}/plugins/datatables/TableTools/js/TableTools.min.js"></script>
<script src="{{ app.request.baseUrl }}/plugins/datatables/dataTables.bootstrap.js"></script>

<!-- Validation -->
<script src="{{ app.request.baseUrl }}/plugins/validate/jquery.validate.min.js"></script>

<!-- Wizard -->
<script src="{{ app.request.baseUrl }}/custom-plugins/wizard/wizard.min.js"></script>
<script src="{{ app.request.baseUrl }}/custom-plugins/wizard/jquery.form.min.js"></script>


<!-- Bootstrap FileInput -->
<script src="{{ app.request.baseUrl }}/custom-plugins/bootstrap-fileinput.min.js"></script>

<!-- Bootstrap InputMask -->
<script src="{{ app.request.baseUrl }}/custom-plugins/bootstrap-inputmask.min.js"></script>

<!-- jquery-ui Spinner -->
<script src="{{ app.request.baseUrl }}/assets/jui/spinner/jquery.ui.spinner.min.js"></script>

<!-- iButton -->
<script src="{{ app.request.baseUrl }}/plugins/ibutton/jquery.ibutton.min.js"></script>

<!-- PickList -->
<script src="{{ app.request.baseUrl }}/custom-plugins/picklist/picklist.min.js"></script>

<!-- Select2 -->
<script src="{{ app.request.baseUrl }}/plugins/select2/select2.min.js"></script>

<!-- Rating  -->
<script src="{{ app.request.baseUrl }}/plugins/rating/jquery.rating.min.js"></script>

<!-- Demo Scripts -->
<script src="{{ app.request.baseUrl }}/assets/js/demo/form.js"></script>


</body>
</html>