{# extend the parent tpl #}
{% extends '/Backend/layout.twig' %}

{% form_theme editform 'themes.twig' %}

{% set pageTitle = 'lannimmoo :: Bewerk Advertentie' %}

{# overwrite the pageContent block #}
{% block pageContent %}
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('backend.advertisements.overview') }}"><i class="icon-home"></i></a>lannimmoo
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="{{ path('backend.advertisements.detail', {'idAdvertisement' : advertisement.idAdvertisement}) }}">Advertentie</a>
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="{{ path('backend.advertisements.edit', {'idAdvertisement' : advertisement.idAdvertisement})  }}">Bewerk advertentie</a>
            </li>
        </ul>

        <h1 id="main-heading">
            Bewerk advertentie
        </h1>
    </div>

    <div id="main-content">

        <div class="row-fluid">
            <div class="span12 widget">
                <div class="widget-header">
                    <span class="title"><i class="icon-pencil"></i> Bewerk advertentie</span>
                </div>
                <div class="widget-content form-container">
                    <form  form action="{{ path('backend.advertisements.edit', {'idAdvertisement' : advertisement.idAdvertisement}) }}" method="post" {{ form_enctype(editform) }} novalidate="novalidate" class="form-vertical">
                        <fieldset>
                            <legend>
                                <i class="icol-traffic"></i>
                                Status
                            </legend>
                            <div class="control-group">
                                {{ form_label(editform.rent_sell, 'Verkoop/Verhuur', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.rent_sell, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.rent_sell, {'attr': {'class' : 'help-block'} }) }}

                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.sold_rented, 'Verkocht/Verhuurd', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.sold_rented, {'attr': { 'class': 'span12', 'data-provide' : 'ibutton', 'data-label-on' : 'Ja',  'data-label-off' : 'Nee'} }) }}
                                    {{ form_errors(editform.sold_rented, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><i class="icol-tag-blue"></i>
                                Omschrijving
                            </legend>
                            <div class="control-group">
                                {{ form_label(editform.propertytype, 'Vastgoedtype', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.propertytype, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.propertytype, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.description, 'Beschrijving', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.description, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.description, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.price, 'Prijs', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on">&#8364;</span>{{ form_widget(editform.price, {'attr': { 'class': 'span11'} }) }}
                                        {{ form_errors(editform.price, {'attr': {'class' : 'help-block'} }) }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>
                                <i class="icol-exclamation"></i>
                                Informatie
                            </legend>
                            <div class="control-group">
                                {{ form_label(editform.epc, 'EPC', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.epc, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.epc, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.ki, 'K.I.', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    <div class="input-prepend ">
                                        <span class="add-on">&#8364;</span>{{ form_widget(editform.ki, {'attr': { 'class': 'span11'} }) }}
                                        {{ form_errors(editform.ki, {'attr': {'class' : 'help-block'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.chambers, 'Kamers', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.chambers, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.chambers, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.living_area, 'Bewoonbare opp.', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.living_area, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.living_area, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.total_area, 'Totale opp.', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.total_area, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.total_area, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>
                                <i class="icol-marker"></i>
                                Locatie
                            </legend>
                            <div class="control-group">
                                {{ form_label(editform.city, 'Gemeente', {'attr': { 'class': 'control-label'} })}}
                                <div class="controls">
                                    {{ form_widget(editform.city, {'attr': { 'class': 'span12 select2-select-00'} }) }}
                                    {{ form_errors(editform.city, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.street, 'Straat', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.street, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.street, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.housenumber, 'Huisnummer', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.housenumber, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.housenumber, {'attr': {'class' : 'help-block'} }) }}

                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(editform.bus, 'Bus', {'attr': { 'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(editform.bus, {'attr': { 'class': 'span12'} }) }}
                                    {{ form_errors(editform.bus, {'attr': {'class' : 'help-block'} }) }}
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            {{ form_widget(editform._token) }}
                            <input type="submit" name="submit"  class="btn btn-primary" value="Toevoegen" />
                            <button class="btn">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}