{# extend the parent tpl #}
{% extends '/Backend/layout.twig' %}

{% set pageTitle = 'New Advertisement &raquo; My Website' %}

{# overwrite the pageContent block #}
{% block pageContent %}
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('backend.advertisements.overview') }}"><i class="icon-home"></i></a>lannimmoo
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="{{ path('backend.advertisements.new') }}">Nieuwe advertentie</a>
            </li>
        </ul>

        <h1 id="main-heading">
            Nieuwe advertentie
        </h1>
    </div>

    <div id="main-content">

        <div class="row-fluid">
            <div class="span12 widget">
                <div class="widget-header">
                    <span class="title"><i class="icon-business-card"></i> Nieuwe advertentie</span>
                </div>
                <div class="widget-content form-container">
                    <form class="form-horizontal">
                        <div class="control-group">
                            {{ form_label(registerform.description, 'Beschrijving', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.description, {'attr': { 'class': 'span12'} }) }}
                                {{ form_errors(registerform.description) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.price, 'Prijs', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">&#8364;</span>{{ form_widget(registerform.price, {'attr': { 'class': 'input-xlarge'} }) }}
                                    {{ form_errors(registerform.price) }}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.epc, 'EPC', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.epc, {'attr': { 'class': 'input-xlarge'} }) }}
                                {{ form_errors(registerform.epc) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.ki, 'K.I.', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">&#8364;</span>{{ form_widget(registerform.ki, {'attr': { 'class': 'input-xlarge'} }) }}
                                    {{ form_errors(registerform.ki) }}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.chambers, 'Kamers', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.chambers, {'attr': { 'class': 'input-xlarge'} }) }}
                                {{ form_errors(registerform.chambers) }}

                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.living_area, 'Bewoonbare opp.', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.living_area, {'attr': { 'class': 'input-xlarge'} }) }}
                                {{ form_errors(registerform.living_area) }}

                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.total_area, 'Totale opp.', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.total_area, {'attr': { 'class': 'input-xlarge'} }) }}
                                {{ form_errors(registerform.total_area) }}

                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.rent_sell, 'Verkoop/Verhuur', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.rent_sell, {'attr': { 'class': 'input-xlarge'} }) }}
                                {{ form_errors(registerform.rent_sell) }}

                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.sold_rented, 'Verkocht/Verhuurd', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.sold_rented, {'attr': { 'class': 'input-xlarge', 'data-provide' : 'ibutton', 'data-label-on' : 'Ja',  'data-label-off' : 'Nee'} }) }}
                                {{ form_errors(registerform.sold_rented) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.street, 'Straat', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.street, {'attr': { 'class': 'input-xlarge'} }) }}
                                {{ form_errors(registerform.street) }}

                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.housenumber, 'Huisnummer', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.housenumber, {'attr': { 'class': 'input-xlarge'} }) }}
                                {{ form_errors(registerform.housenumber) }}

                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.bus, 'Bus', {'attr': { 'class': 'control-label'} }) }}
                            <div class="controls">
                                {{ form_widget(registerform.bus, {'attr': { 'class': 'input-xlarge'} }) }}
                                {{ form_errors(registerform.bus) }}

                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.code, 'Postcode', {'attr': { 'class': 'control-label'} } )}}
                            <div class="controls">
                                {{ form_widget(registerform.code, {'attr': { 'class': 'input-xlarge select2-select-00'} }) }}
                                {{ form_errors(registerform.code) }}

                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(registerform.city, 'Gemeente', {'attr': { 'class': 'control-label'} })}}
                            <div class="controls">
                                {{ form_widget(registerform.city, {'attr': { 'class': 'input-xlarge select2-select-00'} }) }}
                                {{ form_errors(registerform.city) }}
                            </div>
                        </div>
                        <div class="form-actions">
                            {{ form_widget(registerform._token) }}
                            <input type="submit" name="submit"  class="btn btn-primary" value="Toevoegen" />
                            <button class="btn">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}