{# extend the parent tpl #}
{% extends '/Backend/layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'My Website &raquo; Overview' %}

{% block pageContent %}
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('backend.advertisements.overview') }}"><i class="icon-home"></i></a>lannimmoo
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="#">Overzicht</a>
            </li>
        </ul>

        <h1 id="main-heading">
            Overzicht advertenties
        </h1>
    </div>
    <div id="main-content">
    <div class="row-fluid">
        <div class="span12 section">
            <h4 class="sub">
                <span>Overview</span>
            </h4>
            {% if advertisements %}
            <div class="widget">

                <div class="widget-content table-container">

                    <table class="table table-striped table-flipscroll">
                        <thead>
                        <tr>
                            <th>Verhuur/Verkoop</th>
                            <th>Verkocht/Verhuurd</th>
                            <th>Gemeente</th>
                            <th>Vastgoedtype</th>
                            <th>prijs</th>
                            <th>bekeken</th>
                            <th>laatst bewerkt</th>
                            <th>Acties</th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for ad in advertisements %}
                                <tr>
                                    <td>{{ ad.rent_sell ? 'Verkoop' : 'Verhuur' }}</td>
                                    <td>{{ ad.sold_rented ? 'Ja' : 'Nee' }}</td>
                                    <td>{{ ad.name }}</td>
                                    <td>{{ ad.propertytype }}</td>
                                    <td>{{ ad.price | number_format(2, ',', ' ') }}</td>
                                    <td>{{ ad.views | number_format  }}</td>
                                    <td>{{ ad.updated_on | date('Y-m-d H:i:s') }}</td>
                                    <td>
                                        <a href="{{ path('backend.advertisements.detail',{'idAdvertisement': ad.idAdvertisement}) }}" class="icos-preview" title="detail"></a>
                                        <a href="{{ path('backend.advertisements.edit',{'idAdvertisement': ad.idAdvertisement}) }}" class="icos-pencil" title="edit"></a>
                                        <a href="{{ path('backend.advertisements.delete', {'idAdvertisement': ad.idAdvertisement}) }}" class="icos-trashcan" title="Delete"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            {% else %}
                Geen advertenties
            {% endif %}
        </div>
    </div>
{% endblock %}