{# extend the parent tpl #}
{% extends '/Frontend/layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'lannimmoo :: Detail advertentie' %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            var gallery = new $.ThumbnailGallery($('#gallery'));
        });
    </script>
{% endblock %}

{% block pageContent %}
    <div id="page_container">
        <div class="breadcrumbs">
            <div class="bread-top">
                <h2>Detail advertentie</h2>
                <span class="left"><a href="{{ path('frontend.home') }}">Home &rArr;</a></span>
                <span><a href="{{ path('frontend.advertisements.overview') }}"> Overzicht advertenties &rArr;</a></span>
                <span> Detail advertentie</span>
            </div>
        </div><!--end:.breadcrumbs-->
            <h2, {{ advertisement.street }} {{ advertisement.housenumber }} {{ advertisement.bus }}<br><span class="area">{{ advertisement.name }}</span></h2>



            <ul class="info">
                <li><strong>Status: </strong>{{ advertisement.rent_sell ? 'Te koop' : 'Te huur' }}</li>
                <li><strong>Bewoonbare oppervlakte: </strong>{{ advertisement.living_area }}</li>
                <li><strong>Totale oppervlakte: </strong>{{ advertisement.total_area }}</li>
                <li><strong>EPC: </strong>{{ advertisement.EPC | number_format(2, ',', ' ') }}</li>
                <li><strong>KI: </strong>{{ advertisement.ki | number_format(2, ',', ' ') }}</li>
                <li><strong>Kamers: </strong>{{ advertisement.chambers| number_format(0, ',', ' ') }}</li>
                <li><strong>Gewijzigd op: </strong>I{{ advertisement.updated_on }}</li>
                <li><strong>Prijs: </strong>{{ advertisement.price | number_format(2, ',', ' ') }}</li>
            </ul>
            <p>{{ advertisement.description }}</p>
    </div><!--end:#page_container-->
{% endblock %}
